NEXT_PUBLIC_APP_URL=http://localhost:3000

COUCHDB_USER=admin
COUCHDB_PASSWORD=secret123
COUCHDB_URL=http://admin:secret123@127.0.0.1:5984
COUCHDB_AUTH_DB=auth

JWT_ACCESS_SECRET=your_jwt_access_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key



